<!-- Start Page Welcome -->
<section class="ptb-130">
    <div class="container">
        <div class="page-welcome">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12">
                    <!-- Start Page Welcome Content -->
                    <div class="page-welcome-content about-hero-content">
                        <h3 data-animate="fadeInUp" data-delay=".1">Jesteśmy drużyną!</h3>
                        <h1 data-animate="fadeInUp" data-delay=".2">Transport się <span><strong>nie opłaca</strong></span></h1>
                        <p data-animate="fadeInUp" data-delay=".3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical latin making it over. </p>

                        <p data-animate="fadeInUp" data-delay=".35">Raising say express had chiefly detract demands she. Quiet led own cause three him. Front no party young abode state up. Saved he do fruit woody of to. Met defective are allowance two perceived listening consulted contained. It chicken oh colonel pressed excited suppose to shortly. He improve started no we manners however effects. Prospect humoured mistress to by proposal.</p>

                        <a href="{{ path('page', {seoUrl: 'about'}) }}" class="btn-inline" data-animate="fadeInUp" data-delay=".4">Więcej o nas <i class="fa fa-long-arrow-right"></i> </a>
                    </div>
                    <!-- End Page Welcome Content -->
                </div>
                <div class="col-lg-6 col-12">
                    <!-- Start Welcome Feature -->
                    <div class="hero-image" data-animate="fadeInUp" data-delay=".3">
                        <!-- Start Single Hero Feature Image-->
                        <div class="single-hero-feature">
                            <div class="hero-img-1 rounded bg-img" data-bg-img="assets/img/about/about-hero-1.jpg"></div>
                        </div>
                        <!-- End Single Hero Feature Image-->

                        <!-- Start Single Hero Feature Image-->
                        <div class="single-hero-feature img-absolute">
                            <div class="hero-img-2 rounded bg-img" data-bg-img="assets/img/about/about-hero-2.jpg"></div>
                        </div>
                        <!-- End Single Hero Feature Image-->

                        <!-- Start Single Hero Feature Image-->
                        <div class="single-hero-feature img-absolute img-absolute-2">
                            <div class="hero-img-3 rounded bg-img" data-bg-img="assets/img/about/about-hero-3.jpg"></div>
                        </div>
                        <!-- End Single Hero Feature Image-->
                    </div>
                    <!-- End Welcome Feature -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Page Welcome -->