<!-- Start Counter Area -->
<section class="pt-60 pb-60" style="background: url('/assets/img/counterbg.jpg'); background-attachment: fixed; background-position: center center;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="single-counter border-right" data-animate="fadeInUp" data-delay=".1">
                    <li><h2><span class="count">{{ counter.km }}</span>k+</h2></li>
                    <li>Przejechanych <br>kilometrów</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="single-counter border-right" data-animate="fadeInUp" data-delay=".2">
                    <li><h2><span class="count">{{ counter.loads }}</span>+</h2></li>
                    <li>Dostarczonych <br>ładunków</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="single-counter" data-animate="fadeInUp" data-delay=".3">
                    <li><h2><span class="count">{{ counter.fuel }}</span>k+</h2></li>
                    <li>Spalonego <br>paliwa</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Area -->