<!-- Start Hero Area -->
<div style="background: url('/assets/img/bg.jpg'); background-attachment: fixed;">
    <section class="hero-area hero-v2 transparent-bg-shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-8 col-12">
                    <!-- Start Hero Content -->
                    <div class="hero-content">
                        <h1 data-animate="fadeInUp" data-delay=".05">Nasze życie to <span>AUTOSTRADA</span></h1>
                        <p data-animate="fadeInUp" data-delay=".3">Dołącz do naszej społeczności już dziś!<br /> Wbijaj na serwer GRA SA:MP lub TeamSpeak3.</p>
                        <a data-animate="fadeInUp" data-delay=".5" href="steam://connect/play.highwaylife.pl/7777" class="hero-btn btn">play.highwaylife.pl:7777</a>
                        <a data-animate="fadeInUp" data-delay=".7" href="ts3server://ts.highwaylife.pl/?port=9987&nickname=Gość" class="btn-white">ts.highwaylife.pl</a>
                    </div>
                    <!-- End Hero Content -->
                </div>
                <div class="col-lg-5 col-md-4 col-12">
                    <!-- Start Hero Image -->
                    <div class="hero-right-img" data-animate="fadeInUp" data-delay=".2">
                        <img src="/assets/img/hero-2.png" data-rjs="2" alt="Hero Area Image">
                    </div>
                    <!-- End Hero Image -->
                </div>
            </div>
        </div>
        <div class="hero-shape">
            <img src="/assets/img/banner_shape.png" alt="">
        </div>
    </section>
</div>

<!-- End Hero Area -->