/* Enter Your Custom CSS Here */
@font-face {
    font-family: 'arklas-Tablica-samochodowa';
    src: url('../fonts/arklas-Tablica-samochodowa.woff') format('woff'),
    url('../fonts/arklas-Tablica-samochodowa.ttf') format('truetype'),
    url('../fonts/arklas-Tablica-samochodowa.svg#arklas-Tablica-samochodowa') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arklatrs';
    src: url('../fonts/arklatrs.eot');
    src: url('../fonts/arklatrs.woff2') format('woff2'),
    url('../fonts/arklatrs.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
.block {
    margin-bottom: 30px;
}
.block .block,
.side-content .block {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.block-header {
    padding: 15px 20px;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.block-header:before,
.block-header:after {
    content: " ";
    display: table;
}
.block-header:after {
    clear: both;
}
.block-title {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}
.block-title.text-normal {
    text-transform: none;
}
.block-title small {
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}
.block-content {
    margin: 0 auto;
    padding: 20px 20px 1px;
    max-width: 100%;
    overflow-x: visible;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.block-content p,
.block-content .push,
.block-content .block,
.block-content .items-push > div {
    margin-bottom: 20px;
}
.block-content .items-push-2x > div {
    margin-bottom: 40px;
}
.block-content .items-push-3x > div {
    margin-bottom: 60px;
}
.block-content.block-content-full {
    padding-bottom: 20px;
}
.block-content.block-content-full .pull-b {
    margin-bottom: -20px;
}
.block-content .pull-t {
    margin-top: -20px;
}
.block-content .pull-r-l {
    margin-right: -20px;
    margin-left: -20px;
}
.block-content .pull-b {
    margin-bottom: -1px;
}
.block-content.block-content-mini {
    padding-top: 10px;
}
.block-content.block-content-mini.block-content-full {
    padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
    .block-content.block-content-narrow {
        padding-left: 10%;
        padding-right: 10%;
    }
}
.block.block-full .block-content {
    padding-bottom: 20px;
}
.block.block-full .block-content.block-content-mini {
    padding-bottom: 10px;
}
.block-table {
    width: 100%;
}
.block-table td {
    padding: 10px;
    vertical-align: middle;
}
.block.block-bordered {
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.block.block-bordered > .block-header {
    border-bottom: 1px solid #e9e9e9;
}
.block.block-rounded {
    border-radius: 4px;
}
.block.block-rounded > .block-header {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.block.block-rounded > .block-content:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.block.block-rounded > .block-content:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.block.block-themed > .block-header {
    border-bottom: none;
}
.block.block-themed > .block-header > .block-title {
    color: #fff;
}
.block.block-themed > .block-header > .block-title small {
    color: rgba(255, 255, 255, 0.75);
}
.block.block-transparent {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.block.block-opt-refresh {
    position: relative;
}
.block.block-opt-refresh > .block-header {
    opacity: .25;
}
.block.block-opt-refresh > .block-content {
    opacity: .15;
}
.block.block-opt-refresh:before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: " ";
}
.block.block-opt-refresh:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #646464;
    font-family: Simple-Line-Icons;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    content: "\e09a";
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.block.block-opt-refresh.block-opt-refresh-icon2:after {
    content: "\e06e";
}
.block.block-opt-refresh.block-opt-refresh-icon3:after {
    content: "\e020";
}
.block.block-opt-refresh.block-opt-refresh-icon4:after {
    font-family: 'FontAwesome';
    content: "\f021";
}
.block.block-opt-refresh.block-opt-refresh-icon5:after {
    font-family: 'FontAwesome';
    content: "\f185";
}
.block.block-opt-refresh.block-opt-refresh-icon6:after {
    font-family: 'FontAwesome';
    content: "\f1ce";
}
.block.block-opt-refresh.block-opt-refresh-icon7:after {
    font-family: 'FontAwesome';
    content: "\f250";
}
.block.block-opt-refresh.block-opt-refresh-icon8:after {
    font-family: 'FontAwesome';
    content: "\f01e";
}
.ie9 .block.block-opt-refresh:after {
    content: "Loading.." !important;
}
.block.block-opt-fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    margin-bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.block.block-opt-hidden.block-bordered > .block-header {
    border-bottom: none;
}
.block.block-opt-hidden > .block-content {
    display: none;
}
a.block {
    display: block;
    color: #646464;
    font-weight: normal;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
a.block:hover {
    color: #646464;
    opacity: .9;
}
div.block-link {
    display: block;
    color: #646464;
    font-weight: normal;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
div.block-link:hover {
    color: #646464;
    opacity: .9;
}
div.block-link a {
    color: #646464;
}
div.block-link-cursor {
    cursor:default;
}
a.block.block-link-hover1:hover {
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    opacity: 1;
}
a.block.block-link-hover1:active {
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
    box-shadow: 0 2px rgba(0, 0, 0, 0.01);
}
a.block.block-link-hover2:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    opacity: 1;
}
a.block.block-link-hover2:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
a.block.block-link-hover3:hover {
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    opacity: 1;
}
a.block.block-link-hover3:active {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
a.block.block-link-hover4:hover,
div.block.block-link-hover4:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    opacity: .8;
}
a.block.block-link-hover4:active,
div.block.block-link-hover4:active {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
a.block.block-link-disabled,
div.block.block-link-disabled,
div.block.block-link-disabled a {
    cursor:not-allowed !important;
}
.block > .nav-tabs {
    background-color: #f9f9f9;
    border-bottom: none;
}
.block > .nav-tabs.nav-tabs-right > li {
    float: right;
}
.block > .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
}
.block > .nav-tabs > li {
    margin-bottom: 0;
}
.block > .nav-tabs > li > a {
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #646464;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 0;
}
.block > .nav-tabs > li > a:hover {
    color: #5c90d2;
    background-color: transparent;
    border-color: transparent;
}
.block > .nav-tabs > li.active > a,
.block > .nav-tabs > li.active > a:hover,
.block > .nav-tabs > li.active > a:focus {
    color: #646464;
    background-color: #fff;
    border-color: transparent;
}
.block > .nav-tabs.nav-tabs-alt {
    background-color: transparent;
    border-bottom: 1px solid #e9e9e9;
}
.block > .nav-tabs.nav-tabs-alt > li > a {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.block > .nav-tabs.nav-tabs-alt > li > a:hover {
    -webkit-box-shadow: 0 2px #5c90d2;
    box-shadow: 0 2px #5c90d2;
}
.block > .nav-tabs.nav-tabs-alt > li.active > a,
.block > .nav-tabs.nav-tabs-alt > li.active > a:hover,
.block > .nav-tabs.nav-tabs-alt > li.active > a:focus {
    -webkit-box-shadow: 0 2px #5c90d2;
    box-shadow: 0 2px #5c90d2;
}
.block .block-content.tab-content {
    overflow: hidden;
}
.block-options-simple {
    float: right;
    margin: -3px 0 -3px 15px;
    padding: 1px 0;
    min-height: 24px;
}
.block-options-simple.block-options-simple-left {
    float: left;
    margin-right: 15px;
    margin-left: 0;
}
.block-options-simple.block-options-simple-left + .block-title {
    float: right;
}
.block-options {
    float: right;
    margin: -3px 0 -3px 15px;
    padding: 0;
    height: 24px;
    list-style: none;
}
.block-options:before,
.block-options:after {
    content: " ";
    display: table;
}
.block-options:after {
    clear: both;
}
.block-options.block-options-left {
    float: left;
    margin-right: 15px;
    margin-left: 0;
}
.block-options.block-options-left + .block-title {
    float: right;
}
.block-options > li {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
}
.block-options > li > a,
.block-options > li > button,
.block-options > li > form > button {
    display: block;
    padding: 2px 3px;
    color: #999999;
    opacity: .6;
}
.block.block-themed > .block-header .block-options > li > a,
.block.block-themed > .block-header .block-options > li > button,
.block.block-themed > .block-header .block-options > li > form > button {
    color: #fff;
}
.block-options > li > a:hover,
.block-options > li > button:hover,
.block-options > li > form > button:hover {
    text-decoration: none;
    opacity: 1;
}
.block-options > li > a:active,
.block-options > li > button:active,
.block-options > li > form > button:active {
    opacity: .6;
}
.block-options > li > span {
    display: block;
    padding: 2px 3px;
}
.block.block-themed > .block-header .block-options > li > span {
    color: #fff;
}
.block-options > li > a:focus {
    text-decoration: none;
    opacity: 1;
}
.block-options > li > button,
.block-options > li > form > button {
    background: none;
    border: none;
}
.block-options > li.active > a,
.block-options > li.open > button {
    text-decoration: none;
    opacity: 1;
}
.img-avatar {
    display: inline-block !important;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.img-avatar.img-avatar16 {
    width: 16px;
    height: 16px;
}
.img-avatar.img-avatar24 {
    width: 24px;
    height: 24px;
}
.img-avatar.img-avatar32 {
    width: 32px;
    height: 32px;
}
.img-avatar.img-avatar48 {
    width: 48px;
    height: 48px;
}
.img-avatar.img-avatar96 {
    width: 96px;
    height: 96px;
}
.img-avatar.img-avatar128 {
    width: 128px;
    height: 128px;
}
.img-avatar-thumb {
    margin: 5px;
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
}
.border-l {
    border-left: 1px solid #e9e9e9;
}
.border-r {
    border-right: 1px solid #e9e9e9;
}
@media screen and (min-width: 768px) {
    .content {
        margin: 0 auto;
        padding: 30px 30px 1px;
        max-width: 100%;
        overflow-x: visible;
    }
    .push,
    .block,
    .items-push > div {
        margin-bottom: 30px;
    }
    .items-push-2x > div {
        margin-bottom: 60px;
    }
    .items-push-3x > div {
        margin-bottom: 90px;
    }

}
.items-push small {
    font-size: 0.7em;
}
.userPanel {
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 45px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 45px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 45px -10px rgba(0,0,0,0.75);
}