<!-- Start Footer -->
<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top ptb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Footer Widget -->
                    <div class="footer-widget mb-30" data-animate="fadeInUp" data-delay=".1">
                        <a href="{{ path('index') }}" class="footer-logo">
                            <img src="/assets/img/logo.png" alt="Site Logo">
                        </a>

                    </div>
                    <!-- End Footer Widget -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Footer Widget -->
                    <div class="footer-widget widget mb-30" data-animate="fadeInUp" data-delay=".3">
                        <h4 class="widget-title" style="margin-bottom:0;">O nas</h4>
                        <div class="footer-about" style="margin-top: 0;">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected</p>
                            <a href="{{ path('page', {seoUrl: 'about'}) }}" class="footer-about-btn">Wiecej o nas <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <!-- End Footer Widget -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Footer Widget -->
                    <div class="footer-widget widget" data-animate="fadeInUp" data-delay=".5">
                        <h4 class="widget-title" style="margin-bottom: 0;">Kontakt</h4>
                        <!-- Start Footer Info -->
                        <div class="footer-info" style="margin-top: 0;">
                            <div class="single-footer-info">
                                <strong><i class="fa fa-envelope"></i></strong>
                                <h5>pomoc@tsno.pl</h5>
                            </div>

                            <div class="single-footer-info">
                                <strong><i class="fa fa-globe"></i></strong>
                                <h5>tsno.pl</h5>
                            </div>
                            <div class="single-footer-info">
                                <strong><i class="fa fa-headphones"></i></strong>
                                <h5>ts.highwaylife.pl</h5>
                            </div>
                        </div>
                        <!-- End Footer Info -->

                        <!-- Start Social Icons -->
                        <div class="footer-social-icon">
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Social Icons -->
                    </div>
                    <!-- End Footer Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->

    <!-- Start Copyright-->
    <div class="footer-bottom text-center">
        <small>Copyright 2018 by <a class="text-white" href="{{ path('index') }}"><strong>HighwayLife.pl</strong></a>. All Rights Reserved.</small>
    </div>
    <!-- End Copyright -->
</footer>
<!-- End Footer -->

<!-- Start Back to Top Button -->
<a href="#" class="back-top">
    <i class="fa fa-caret-up"></i>TOP
</a>
<!-- End Back to Top Button -->